{% extends 'main/base.html' %}
{% load static %}

{% block title %}

Температура и влажность
{% endblock %}

{% block content %}
<p align="center"><iframe src="https://thingspeak.com/channels/1605530/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15" width="450px" height="400px" marginheight="0" frameborder="0" border="0" scrolling="auto" alt="Responsive image"></iframe></p>
<p align="center"><iframe src="https://thingspeak.com/channels/1605530/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15" width="450px" height="400px" marginheight="0" frameborder="0" border="0" scrolling="auto" alt="Responsive image"></iframe></p>
{% endblock %}


